<style>
.game_preferences { display:inline-block;}
.games { display:inline-block; }
* { font-family:sans-serif;}
.box { padding: 10px; border:10px; margin:50px; background:#F1F1F1;}
hr { border-color:#6441A5;border-collapse: collapse;}
body { background-color:#262626;}
</style>
<%= render 'layouts/header' %>
<body>
<div class="box img-rounded">
<h2 align="center">Register</h2>
<hr color=#6441A5>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class:"form-group"><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true, class: "form-control" %></div>

  <div class:"form-group"><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %></div>

  <div class:"form-group"><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %></div>

	<div class="game_preferences">
    <p><%= f.label :games %> <strong>Filter</strong><small> (hold ctrl to select multiple)</small><br />
  <%=collection_select :user, :game_ids, Game.all.sort{|a,b| a.name <=> b.name}, :id, :name, {}, {:multiple => true, :size => 12} %>

  </p>
  </div>

  <div class="number_of_streams_per_page">
  <p><%= f.label :number_of_streams_per_page%><br />
  <%= f.select :number_of_streams_per_page, 8..100,{:selected => 16 }, {class:"form-control"} %>
  </p></div>


  <div class="number_of_stream_pages">
  <p><%= f.label :number_of_stream_pages%><br />
  <%= f.select :number_of_stream_pages, 1..20, {:selected => 3}, class:"form-control" %>
  </p></div>

 <br /> <div><%= f.submit "Sign up", :class =>"btn btn-success" %></div>
<% end %>
<hr color=#6441A5>
</div>
</body>